
/* Eric Meyer CSS Reset begins */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* Eric Meyer CSS Reset ends */

html, body {
   font-family: 'Noto Serif KR', serif;
    width: 100%;
  height: 100%;
}

.full-height {
    height: 100%;
    background-color: white;
}

.sidebar-wrapper {
    float: left;
    position: fixed;
    width: 30%;
    text-align: center;
    font-size: 1.3em;
    padding-top: 15%;
    background-color: white;
    height: 100%;
    margin: 0px auto;
    overflow: hidden;
}

h1 {
    font-family: 'Noto Serif KR', serif;
    letter-spacing: .5px;
    color: #707070;
    padding: 30px;
    width: 55%;
    margin: auto;
    text-align: center;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 3.5s;
    animation-duration: 3.5s;
}

nav {
    float: right;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

li {
    font-size: 1em;
    color: white;
    float: right;
    padding: 40px 50px 0px 0px;
    font-family: 'Noto Serif KR', serif;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 3.5s;
    animation-duration: 3.5s;

}

a:hover { 
  opacity: .5;
    color: black;
}

p1, p2 {
    color: black;
    line-height: 1.6;
}

a {
  font-family: 'Noto Serif KR', serif;
    font-size: 1em;
    color: white;
    text-decoration: none;
}

cta {
    font-family: 'Noto Serif KR', serif;
}

.button {
  background-color: #7283FF;
  border: none;
border-radius: 30px;
  padding: 7px 20px;
    padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9em;
    letter-spacing: 1px;
  margin: auto;
}

.button {
        -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

/* #linkedin {
    margin: 0 auto;
    display: block;
  margin-left: auto;
  width: 1em;
    padding: 5.6em;
    opacity: 0.5;
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
} */

#linkedin:hover {
    opacity: 1;
}

.site-wrapper {
    height: 100%;
    width: 70%;
    right: 0;
    position: fixed;
    overflow: scroll;
}

.degree-div {
    background-color: #7283FF;
    height: 100%;
}

p3 {
    width: 30%;
    font-size: 1.6em;
    line-height: 1.6;
    color: white;
    text-align: right; 
    padding: 45px;
    position: absolute;
    bottom: 0;
    right: 0;
        -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 3.5s;
    animation-duration: 3.5s;
}

.second {
    background-color: #7283FF;
    width: 70%;
    float: right;
    padding-bottom: 5vh;
}

.third {
    background-color: #64E0BE;
  width: 70%;
    float: right;
    padding-bottom: 5vh;
}

.fourth {
    background-color: #FFD257;
 width: 70%;
    float: right;
    padding-bottom: 5vh;
}

.fifth {
 background-color: white;
    
    width: 70%;
    float: right;
}

h5 {
    padding-top: 35%;
    color: white;
    font-family: 'Noto Serif KR', serif;
}

/*BARCODE*/
h6, #resume {
    width: 100%;
    text-align: center;
    padding-top: 10%;
    font-family: 'Libre Barcode 39 Text', cursive;
    color: black;
    font-size: 1.5em;
    padding-bottom: 10%;
    margin-top: 15%;
    opacity: 0.7;
    
}

/*better design, better experiences */
h13 {
    font-size: 2em;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    width: 70%;
    margin-top: 10%;
    opacity: 0.5;
}

#portfolio {
    display: block;
    width: 90%; 
      -webkit-transform: translate(6%, 15%); 
      transform: translate(6%, 15%)
}

h7 {
    color: white;
    margin-left: 5%;
    margin-top: 12%;
    display: block;
    font-size: .9em;
        -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 3.5s;
    animation-duration: 3.5s;
}

h8 {
    display: block;
    color: white;
    margin-left: 5%;
    padding-top: 10px;
    font-weight:bolder;
    font-size: 1em;
        -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 3.5s;
    animation-duration: 3.5s;

}

h8::after {
    content: "Adobe AI/XD";
    float: right;
    padding-right: 8%;
    font-weight: 100;
}

#emerge {
  display: block;
    width: 90%; 
      -webkit-transform: translate(6%, 15%); 
      transform: translate(6%, 15%)
}

h9 {
    color: white;
    margin-left: 5%;
       margin-top: 12%;
    display: block;
    font-size: .9em;
}

h10 {
    display: block;
    color: white;
    margin-left: 5%;
    padding-top: 10px;
    font-weight:bolder;
    font-size: 1em;
}

h10::after {
    content: "HTML + CSS";
    float: right;
    padding-right: 8%;
    font-weight: 100;
}

#aperture {
    display: block;
    width: 90%;
   -webkit-transform: translate(6%, 15%); 
      transform: translate(6%, 15%)
}

h11 {
    color: white;
    margin-left: 5%;
   margin-top: 12%;
    display: block;
    font-size: .9em;
}

h12 {
     display: block;
    color: white;
    margin-left: 5%;
    padding-top: 10px;
    font-weight:bolder;
    font-size: 1em;
  
    
}

h12::after {
    content: "Wordpress";
    float: right;
    padding-right: 8%;
    font-weight: 100;
}


/* INTRO, CTA ANIMATION */

@-webkit-keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@media (max-width:800px){
    
    * {-webkit-animation: none !important;
animation: none !important;}
    
    .sidebar-wrapper {
        width: 100%;
        height: 18vh;
        padding-top: 8vh;
        z-index: 1;

    }
    
    .second {
        padding-top: 26vh;
        width: 100%;
    }
    
    .third {
        width: 100%;
    }
    
    .fourth {

        width: 100%;
    }
    .fifth {
        width: 100%;
    }
    
    h13 {
    display: none;

    }
    
    h1 {
        font-size: .8em;
        -webkit-transform: translate(0,-50%);
        transform: translate(0,-50%);
        
    }

    #cta {
        font-size: .6em; 
        padding: 90px;
        letter-spacing: 2px;
    }
    
    button {
          -webkit-transform: translate(0,-170%);
        transform: translate(0,-170%);

    }

}